<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeType fileExtension=".html" mimeType="text/html" />
      <mimeType fileExtension=".css" mimeType="text/css" />
      <mimeType fileExtension=".js" mimeType="application/javascript" />
      <mimeType fileExtension=".png" mimeType="image/png" />
      <mimeType fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeType fileExtension=".jpeg" mimeType="image/jpeg" />
    </staticContent>
  </system.webServer>
</configuration>
